* {
    box-sizing: inherit;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    font-family: 'Ubuntu',
    sans-serif;
}

.wrapper h1, .wrapper h2, .wrapper h3 {
    color: white;
}

.columns {
    justify-content: space-evenly;
    width: 100%;
}

.column {
    min-width: 200px;
}

.reminder {
    display: flex;
    flex-direction: column;
    ;
}

.btn {
    border-radius: 15px;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px dashed black;
}

.reminderForm {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.reminderForm select {
    margin-bottom: 5%;
}

.formBtm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@media only screen and (max-width: 400px) {
    .formBtm {
        display: flex;
        flex-direction: column;
    }
}



/*? ----- Delete Button CSS ----- */



.btn:hover {
    transition: 0.2s all;
    transform: translate(0%, 0%) rotate(45deg);
    border-radius: 0%;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/psychedelic.png');
    background-color: rgb(50, 0, 140);
    background-position: center;
}